<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="['/']"><img class="navbar-brand" style="width:50%; height:2%" src="../../assets/imgs/Teaching Assistant Banner.png" alt="Teaching assistant banner" /></a>
    <button class="navbar-toggler navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" (click)='toggle()' [attr.aria-expanded]='isExpanded' aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="clearfix"></div>
    <div class="collapse navbar-collapse" id="navbarColor02" [ngClass]='{ "in": isExpanded }'>
        <ul class="navbar-nav mr-auto">

            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/subjects']" (click)='collapse()' title="manage the subjects you teach, add and edit questions. Navigate here if you want to also generate questions" class="nav-link">
                    <span class="sr-only">(current)</span>
                    <span class='glyphicon glyphicon-education'></span> Subjects
                </a>
            </li>
            <li class="nav-item active" [routerLinkActive]="['link-active']">
                <a (click)='collapse()' class="nav-link" [routerLink]="['/types']"><span class="glyphicon glyphicon-tent" title="Assessment type has to do with the types of assessments that you administer. E.g. quizzes, assignments etc."></span> Assessment types</a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/classes']" (click)='collapse()' title="navigate to manage your classes, enter student results and print them" class="nav-link">
                    <span class='glyphicon glyphicon-blackboard'></span> Classes
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/help']" (click)='collapse()' title="Get information about using teaching assistant ultimate" class="nav-link">
                    <span class='glyphicon glyphicon-info-sign'></span> Help
                </a>
            </li>
        </ul>
    </div>
</nav>-->